@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
       
        body {
            padding-top: 60px; 
        }

        .navbar {
            margin-bottom: 0;
        }

        #topicFilter {
            width: 150px; 
            margin-right: 10px; 
        }

        .card-deck {
            margin-top: 20px;
        }
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Posts</h2>

        <form asp-controller="Post" asp-action="Index" method="get" class="form-inline">
            <div class="form-group">
                <label for="topicFilter" class="mr-2">Filter by Topic:</label>
                <select class="form-control" id="topicFilter" name="topicId">
                    <option value="">All Topics</option>
                    @foreach (var topic in ViewBag.AllTopics)
                    {
                        <option value="@topic.Id">@topic.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Apply Filter</button>
        </form>

        <div class="card-deck">
            @foreach (var post in Model)
            {
                <div class="col-md-4 mb-4">
                   
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">@post.Content</p>
                            <p class="card-text"><small class="text-muted">Author: @post.Author</small></p>
                            <p class="card-text"><small class="text-muted">Publish Date: @post.publishDate</small></p>
                            <p class="card-text"><small class="text-muted">Tags: @post.Tags</small></p>
                            <p class="card-text"><small class="text-muted">Comment: @post.Comment</small></p>

                            <a class="btn btn-primary" href="@Url.Action("Details", "Post", new { id = post.Id })">Details</a>
                            <a class="btn btn-primary"
                               asp-action="Update"
                               asp-controller="Post"
                               asp-route-id=@post.Id>Edytuj</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Post", new { id = post.Id })">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </body>
    </html>


   
